# Dependencies
**/node_modules
**/.pnp
**/.pnp.js

# Next.js Build files (Updated to match your folder name)
frontend_hrms/.next/
frontend_hrms/out/
frontend_hrms/build/

# Environment Secrets
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store